body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:orangered ;
}
h1{color: white;}
h2{font-size: 5mm;}
img{
    max-width: 50mm;
    height: auto;
}
h3{color: white;}
h4{color: white;}

body{font-size: small;}